.account__container {
    padding: 10rem 10rem;
    display: flex;
    min-height: 100vh;
}

/* @keyframes parallax {
    to {
      transform: 
        translateY(calc(var(--parallax-speed) * 200px));
    } 
} */


.hero__bg {
    height: 50vh;
    padding: 50px 10rem;
    display: flex;
    align-items: end;
    background-image: url("../img/top-account-page.png");
}

.hero__title {
    color: #e2dcff;
    font-family: var(--title-font);
    font-size: 6rem;
    /* line-height: 100%; */ /* 96px */
    text-transform: uppercase;
}
/* 
.account_content_container {
    align-items: start;
    align-self: center;
    margin-top: 240px;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
} */

/*=============== Account Menu ===============*/
.account__menu-container {
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
    margin-right: 4rem;
    border-right: 2px solid var(--black-color);
    min-height: 100%;
}

.svg_pointer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.account__menu {
    transition: .2s ease-in-out;
}

/*=============== Details ===============*/
.details__container {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.details__top{
    display: flex;
    justify-content: space-between;
}

.account__title {
    color: #000;
    font-family: var(--title-font);
    font-size: 3rem;
    line-height: 100%;
    text-transform: uppercase;
}

.details__subtitle {
    text-transform: uppercase;
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
    margin-top: 5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--black-color);
}

.details_content {
    margin-top: 3rem;
    gap: 20px;
    display: flex;
}

.details_description {
    color: var(--Gray, #b7b7b7);
    width: 40%;
    padding-right: 3rem;
}

.right_section_details {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.first_last_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.information__container {
    width:100%;
}

.information__title {
    margin-bottom: 15px;
    font-size: var(--small-font-size);
}

.information__content-radio {
    width: 100%;
    display: flex;
}

.information__content-empty {
    height: 1.6rem;
    border-bottom: 2px solid var(--Gray, #b7b7b7);
}

/* .button_edit {
    color: var(--Black, #000);
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid var(--Black, #000);
    align-self: end;
    margin-top: 61px;
    width: 118px;
    height: 56px;
    max-width: 100%;
    padding: 15px 40px;
    font: 500 17px/26px DM Sans, sans-serif;
} */

/* .phone_title {
    color: var(--Black, #000);
    align-self: stretch;
    font: 400 16px/21px DM Sans, sans-serif;
} */

/* .line_content {
    background-color: #b7b7b7;
    align-self: stretch;
    margin-top: 60px;
    height: 1px;
} */

/* .dob_title {
    color: var(--Black, #000);
    align-self: stretch;
    margin-top: 60px;
    font: 400 16px/21px DM Sans, sans-serif;
} */

/* .gender_title {
    color: var(--Black, #000);
    align-self: stretch;
    margin-top: 60px;
    font: 400 16px/21px DM Sans, sans-serif;
} */

.male_female_container {
    align-self: start;
    display: flex;
    margin-top: 15px;
    width: 359px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.gender_radio_button {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio_button {
    border-radius: 100vw;
    display: flex;
    width: 20px;
    height: 20px;
    border: 2px solid var(--Gray, #b7b7b7);
}

.radio_button-selected {
    position: relative;
    border: 2px solid var(--black-color);
}

.radio_button-selected::before {
    content: "";
    border-radius: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 3px solid var(--white-color);
    background-color: var(--black-color);
}

.gender_selection_title {
    color: var(--Gray, #b7b7b7);
}

.gender_selection_title-selected {
    color: var(--black-color);
}

/* .password_title {
    color: var(--Black, #000);
    align-self: stretch;
    font: 400 16px/21px DM Sans, sans-serif;
} */

/* .password_content_container {
    justify-content: space-between;
    align-self: stretch;
    display: flex;
    margin-top: 10px;
} */

/* .password_content {
    color: var(--Black, #000);
    flex-grow: 1;
    flex-basis: auto;
    font: 400 20px/26px DM Sans, sans-serif;
} */

/* .img-account {
    width: 100%;
} */

/* .img-account-bottom {
    width: 100%;
    padding-top: 300px;
    margin-bottom: -10px;
} */

/*=============== Favorites ===============*/
/*=============== Histroy ===============*/
/*=============== Settings ===============*/