.main{
    display: flex;
}

.left__container,
.right__container{
    flex: 50vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-background{
    position: absolute;
    width: calc(100% + 100px);
    height: calc(100% + 40px);
    filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    z-index: -1;
}

.image-background::before {
    position: absolute;
    width: calc(100% + 120px);
    height: calc(100% + 120px);
    content: "";
    background-color: rgba(0, 0, 0, 0.12); /* Adjust the opacity here */
}

.image{
    max-width: 80%;
    max-height: 80%;
}

/* Form */
.inner__container{
    width: 450px;
    display: flex;
    flex-direction: column;
}

.title{
    margin: 0;
    text-align: center;
    font-family: var(--title-font);
    font-size: var(--biggest-font-size);
}

.input__form{
    position: relative;
    width:100%;
    margin-top: 40px;
    border-bottom:1px solid black;  
}

.input{
    width:100%;
    padding: 8px 0;
    font-size:var(--normal-font-size);
    font-family: var(--body-font);
}

.label{
    position:absolute;
	top:8px;
	left:0px;
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    pointer-events: none;
    transition: .4s;
}

.input:-webkit-autofill{
    transition: background-color 6000s, color 6000s;
}

/* Move label up & sticky label */ 
.input:focus + .label,
.input:not(:placeholder-shown) + .label{
    font-size:var(--small-font-size);
    top: -16px;
    transition: .4s;
}

/* Button */
.button__container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.button__container .button{
    padding: 12px 0;
    font-weight: var(--font-medium);
    text-align: center;
}

.top__button{
    color: var(--white-color);
    background-color: var(--main-color);
}

.bottom__button{
    color: var(--main-color);
    background-color: var(--white-color);
    border: 2px solid var(--main-color);
}