:root{
    --main-color: hsl(226, 96%, 90%);
}

/*=============== HERO ===============*/
.hero{
    background-image: url(/assets/img/product-page-pict-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: max(100vh, 420px);
    padding: 100px 10rem;
    padding-top: 25rem;
}

.hero__content{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero__title, 
.hero__subTitle{
    color: var(--main-color);
}

.hero__title{
    font-family: var(--title-font);
    font-size: calc(6vw - 1rem);
}

.hero__subTitle{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    width: 70%;
}

.hero .button__content{
    border: 2px solid var(--main-color);
    color: var(--main-color);
    height: 40px;
    font-size: var(--normal-font-size);
   
}

.hero .button:hover .button__content{
    color: #4543b1;
}

.hero .button::before{
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
}

/*=============== HERBS COLLECTIONS ===============*/
.herbs__collection{
    padding: 100px 10rem;
    display: flex;
    flex-direction: column;
    gap: 100px;
}



.herbs__title h1{
    font-family: var(--title-font);
    font-size: var(--biggest-font-size);
    border-bottom: 1px solid black;
}

.herbs__title p{
    font-family: var(--body-font);
    font-size: var(--small-font-size);
}
