/*=============== VARIABLES CSS ===============*/
:root{
    --main-color: hsl(295, 47%, 71%);
}

/*=============== RIGHT CONTENT ===============*/
.image-background{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../img/login/LoginPlant.png');
}

.shop__name{
    font-family: var(--shop-name-font);
    color: var(--white-color);
    position: absolute;
    bottom: 55px;
    right: 160px;
    font-size: var(--normal-font-size);
    padding: 10px 20px;
}

/*=============== lEFT CONTENT ===============*/
.forgot__password{
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.forgot__password a{
    font-size: var(--small-font-size);
    color: var(--main-color);
}




